.container {
    display: flexbox;
    margin: 2rem;
    margin-left: 9rem;
}

.cardcontainer {
    margin: 9px 9px !important;
    align-content: center;
}

.card {
    margin-right: 17px !important;
    align-content: center;
}