.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 120px;
}